@inject AuthStateService Auth
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LogVault</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                Log Explorer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alerts">
                Alert Rules
            </NavLink>
        </div>
        @if (Auth.IsAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/apikeys">
                    API Keys
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/purge">
                    Retention
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    protected override void OnInitialized() => Auth.OnChange += StateHasChanged;
    public void Dispose() => Auth.OnChange -= StateHasChanged;
}
